<section id="mainImage">
  <div class="container">


    <div id="slideshow">
      <p> Joao Aguilera CS80</p>
      <%= image_tag("img1.png", size:"400x450", :class => "slide") %>
    </div>
  </div> <!-- container -->

</section> <!-- mainImage -->
<section id="secondImage">
  <div class="container">
    <div class="wordContent">
      <div class="center">
        <p>Exerci omittam mnesarchum eum ea, ullum inermis scaevola et
        </p>
      </div>
    </div>
  </div>
</section>

<section id="thirdImage">
  <div class="container">
    <div class="myText">
      <p>Lorem ipsum dolor sit amet, usu at euismod nominati iracundia. Vim malorum deserunt maluisset at, id quo ceteros phaedrum qualisque. Vis possim prompta facilis ei, quod odio ex qui, ex tempor fabellas dignissim per. Ne tollit graeco minimum est, ius et docendi facilisi phaedrum. Iisque volumus fabellas id mel, in sed clita incorrupte.
      </p>
      <p> Et nostrum disputationi interpretaris ius. Saperet volumus aliquando cum ne, sea cu tota principes, primis fabulas duo et. Duo dolor similique scriptorem eu, cu eum delenit habemus suscipit, te sed scribentur disputationi. Congue quaeque eos ei, cu eos tempor consetetur, ei pri nisl error albucius. Dolorum deleniti sed ea, ei audire adipiscing ius, fugit saepe periculis an vix.
      </p>
      <p>Exerci omittam mnesarchum eum ea, ullum inermis scaevola et his, utinam nostrud nostrum nam te. Velit impedit reprehendunt in vel, omnes doming singulis no mea. Option posidonium interesset per id. Ex noluisse necessitatibus per. Eam ex nihil minimum vivendum, wisi vivendum eloquentiam ne nec, te facete voluptua consequuntur eum. Te tibique torquatos scripserit mei, te vix pertinax eleifend.       </p>
      <p>Cu erant sadipscing sed, per soluta discere cu. In etiam perfecto definiebas nec, luptatum dissentiunt eu qui. Sea mentitum intellegat consequuntur ne, vero mollis in sit. Eos cu tamquam adversarium signiferumque. Bonorum oporteat intellegat ne vix, qui mucius possit torquatos at, solet legimus id vel.
      </p>
      <p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>Exerci omittam mnesarchum eum ea, ullum inermis scaevola et his, utinam nostrud nostrum nam te. Velit impedit reprehendunt in vel, omnes doming singulis no mea. Option posidonium interesset per id. Ex noluisse necessitatibus per. Eam ex nihil minimum vivendum, wisi vivendum eloquentiam ne nec, te facete voluptua consequuntur eum. Te tibique torquatos scripserit mei, te vix pertinax eleifend.       </p>
      <p> Et nostrum disputationi interpretaris ius. Saperet volumus aliquando cum ne, sea cu tota principes, primis fabulas duo et. Duo dolor similique scriptorem eu, cu eum delenit habemus suscipit, te sed scribentur disputationi. Congue quaeque eos ei, cu eos tempor consetetur, ei pri nisl error albucius. Dolorum deleniti sed e
      </p>
      <p>Exerci omittam mnesarchum eum ea, ullum inermis scaevola et his, utinam nostrud nostrum nam te. Velit impedit reprehendunt in vel, omnes doming singulis no mea. Option posidonium interesset per id. Ex noluisse necessitatibus per. Eam ex nihil minimum vivendum, wisi vivendum eloquentiam ne nec, te facete voluptua consequuntur eum. Te tibique torquatos scripserit mei, te vix pertinax eleifend.       </p>
      <p>Cu erant sadipscing sed, per soluta discere cu. In etiam perfecto definiebas nec, luptatum dissentiunt eu qui. Sea mentitum intellegat consequuntur ne, vero mollis in sit. Eos cu tamquam adversarium signiferumque. Bonorum oporteat intellegat ne vix, qui mucius possit torquatos at, solet legimus id vel.
      </p>

    </div>
  </div>
</section>

<section id="fourthImage">
  <div class="container">
    <div class="center">
      <p class="myPcenter"> Stay Informed!</p>

      <%= button_to "Sign Up", page_newsletter_path, class:"myButton" ,:method => "get"%>

    </div>
  </div>
</section>
