<section id="fithImage">
  <div class="container">
    <div class="align">
      <!-- action and extra form information is not included because I don't want the information to be sent -->
      <form>
        <fieldset>
          <legend>Newsletter</legend>
          <label for="name">Name:</label>
          <input type="text" id="name">
          <label for="email">Email:</label>
          <input type="text" id="email">
          <input type="submit" value="subscribe" id="sumbit">
        </fieldset>
      </form>
    </div>
  </div>
</section>