.myButton {

  border: 1px solid #bbb;
  border-radius: 15px;
  background:#2E8AE6;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 180px;
  height: 30px;


}