fieldset {
    
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    background-color: #F0F9FA;
    
}

legend {
    
    border: 1px solid;
    border-radius: 20px;
    background-color: #efefef;
}

.align {
    
    
   /* width: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 350%);
    -ms-transform: translate(0,350%); /* IE 9 */
   /*	-webkit-transform: translate(0,350%); /* Chrome, Safari, Opera */
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
    
}